.recipe-name-container {
  margin-bottom: 20px;
}

.recipe-name-input {
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

.ingredients-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.ingredients-table thead tr {
  background-color: #1a1a1a;
}

.ingredients-table th {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

.ingredients-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.ingredient-input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.ingredient-amount-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.ingredient-amount-input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.ingredient-unit-select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.add-ingredient-button {
  margin-bottom: 20px;
  margin-right: 10px;
}

